/* Sidebar.css */

.sidebar {
    background-color: #002140;
    color: white;
    transition: width 0.3s ease;
  }
  
  .sidebar .ant-menu-dark .ant-menu-item-selected {
    background-color: #1890ff !important;
  }
  
  .sidebar .ant-menu-item {
    font-size: 16px;
    color: white;
  }
  
  .sidebar .ant-menu-item:hover {
    color: #1890ff;
  }
  
  .sidebar .ant-menu-submenu-title {
    font-size: 16px;
  }
  
  .sidebar .ant-menu-submenu-title:hover {
    color: #1890ff;
  }
  
  .sidebar .ant-menu-item-group-title {
    font-weight: bold;
    color: #ffffffa6;
  }
  
  .sidebar .ant-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  