
/* Hiển thị sidebar khi mở */
.app-container.sidebar-open .sidebar {
  transform: translateX(0);
}

.content-wrapper .app-container.sidebar-open .sidebar {
  display: block;
}


/* Hiển thị overlay khi sidebar mở */
.app-container.sidebar-open .content-wrapper {
  display: block;
}


/* Content Wrapper */
.content-wrapper {
  width: 100vw;
  height: calc(100vh - 60px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* App Header */
.app-header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  margin-left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Khi sidebar mở, thu nhỏ app-main-content */
.app-container.sidebar-open {
  width: calc(100vw);
  /* Trừ đi chiều rộng của sidebar */
}

/* Dịch chuyển app-header khi sidebar mở */
.app-container.sidebar-open .app-header {
  margin-left: 250px;
  width: calc(100vw - 250px);
}

.sidebar-open .content-wrapper {
  margin-left: 250px;
  width: calc(100vw - 250px);
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #1e88e5;
  color: #ffffff;
  font-size: 0.85rem;
}


/* Contact Info & User Options */
.contact-info,
.user-options {
  display: flex;
  align-items: center;
  gap: 10px;
}


.user-options .language {
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-options .language:hover {
  color: #ffcc00;
}

/* Sidebar Toggle Button */
.sidebar-toggle-button {
  background-color: #fefefe;
  /* Xanh dương tươi */
  color: #ffffff;
  /* Màu chữ trắng để tương phản */
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 12px;
  /* Tăng padding để nút nhìn cân đối hơn */
  border-radius: 20%;
  /* Giữ dạng hình tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  /* Hiệu ứng hover */
}

.sidebar-toggle-button:hover {
  background-color: #bb2222;
  /* Màu đậm hơn khi hover */
  transform: scale(1.1);
  /* Phóng to nhẹ khi rê chuột */
}

.sidebar-toggle-button:active {
  background-color: #004085;
  /* Màu tối hơn khi nhấn */
  transform: scale(0.95);
  /* Co lại nhẹ khi nhấn */
}

