.footer-app{
    background-color: #012e5d;

    color: #fff;
    padding: 0px;
    font-family: Arial, sans-serif;
  }
  
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }
  
  .footer-brand {
    flex: 1 1 300px;
    text-align: left;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-tagline {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer-subtitle {
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  .footer-awards {
    display: flex;
    gap: 10px;
    font-size: 24px;
    margin: 10px 0;
  }
  
  .footer-contact {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .footer-section {
    flex: 1 1 200px;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-item {
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .footer-item:hover {
    color: #fdb813;
  }
  