.task-table-container {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .ant-table-cell {
    white-space: nowrap;
  }
  
  .ant-table-wrapper {
    max-height: 240px;
    overflow: auto;
  }
  
  .ant-table-row {
    cursor: grab;
  }
  
  .ant-table-row:hover {
    background-color: #f1f1f1;
  }
  
  .ant-table-row-selected {
    background-color: #e8f7ff !important;
  }
  
  .ant-btn {
    margin-right: 10px;
  }
  